/*GLOBAL AND RESSETS------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    outline: none;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

body {
    font-size: 1.6rem;
}

h1,
h2 {
    margin: 0;
}


/*SLIDER------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.slider div {
    height: calc(100vh - 50px);
    background: #1b1d20;
}

.slider img {
    margin: auto;
    padding: 45vh 0 0;
}


/*Slider Navigation-----------------------------------------------------------------------------------------------------------------------------*/

.sliderPanel {
    height: 49px;
    background: #2f3238;
    display: flex;
    justify-content: flex-end;
}

.slider .slick-next,
.slider .slick-prev {
    position: absolute;
    width: 50px;
    height: 49px;
    text-indent: -9999px;
    background: url('../img/spritesheet.png') -338px -32px #26292e;
    border: none;
    bottom: -49px;
}

.slider .slick-next {
    left: 50px;
    background: url('../img/spritesheet.png') -224px -146px #26292e;
}

.slider .slick-dots {
    position: absolute;
    display: flex;
    right: calc(50vw - 28px);
    bottom: -45px;
    padding: 0;
}

.slider .slick-dots li {
    background: #6e7074;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.slider .slick-dots li:last-child {
    margin: 0;
}

.slider .slick-dots .slick-active {
    background: #fff;
}

.sliderPanel .arrowDown {
    display: block;
    height: 49px;
    width: 50px;
    background: url(../img/spritesheet.png) -225px -30px #26292e;
}


/*HEADER------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.head {
    display: flex;
    background: #26292e;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 2;
}

.head .logo {
    display: block;
    height: 60px;
    width: 114px;
    text-indent: -9999px;
    background: url('../img/spritesheet.png') -50px -30px;
}

.head .navigate {
    overflow: hidden;
    position: relative;
}

.navigate .menu {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: calc(100vw - 134px);
    position: relative;
    left: calc(-1 * (100vw - 134px));
    position: fixed;
    top: 0;
    bottom: 0;
    background: #26292e;
    text-align: center;
    transition: .5s ease;
}

.navigate .menu li {
    padding: 2rem;
}

.navigate a {
    color: #fefefe;
    text-transform: uppercase;
    text-decoration: none;
}

.menu.active {
    left: 0;
}


/*MEDIA DESCTOP HEADER---------------------------*/

@media screen and (min-width: 992px) {
    .navigate .menu {
        display: flex;
        flex-flow: row;
        margin: 0;
        padding: 0;
        height: auto;
        position: relative;
        left: auto;
    }
    .head .burger {
        display: none;
    }
}


/*Burger----------------------------------------------------------------------------------------------------------------------------------------*/

.navigate .burger {
    width: 32px;
    height: 32px;
    border-bottom: 3px solid #fff;
    position: relative;
    top: 14px;
}

.navigate .burger::before,
.navigate .burger::after {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    background: #fff;
}

.navigate .burger::after {
    top: 15px;
}


/*MAIN--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main section:nth-child(odd) {
    background: #2f3238;
}

.main section:nth-child(even) {
    background: #26292e;
}

.main h1 {
    font: 400 4.8rem 'Titillium Web';
    color: #fefefe;
    text-align: center;
}

.main p,
.main h2 {
    color: #fefefe;
    font: 400 2.4rem 'Titillium Web';
}

.main .underH {
    text-align: center;
}


/*WORK--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.work p span {
    color: #de5e60;
}

.work ul {
    display: flex;
    justify-content: space-between;
}

.workPictures img {
    margin-bottom: 30px;
}

.workPictures a:last-child img {
    margin: 0;
}

.work a {
    text-decoration: none;
    color: #7f8289;
    font: 400 1.6rem 'Titillium Web';
}


/*MEDIA DESCTOP WORK----------------------------------*/

@media screen and (min-width: 992px) {
    .work {
        padding: 9rem 0 7rem;
    }
    .work p {
        margin-bottom: 10rem;
    }
    .work ul {
        flex-flow: column;
    }
    .work li {
        margin: 0 0 2rem;
    }
}


/*ABOUT-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main .about {
    padding: 0 0 12rem;
}

.about .inf {
    color: #7f8289;
    font: 1.6rem 'Titillium Web';
}

.about ul {
    display: flex;
    text-indent: -9999px;
    padding: 0;
}

.social a {
    width: 16px;
    height: 17px;
    margin: 0 2rem 0 0;
    display: block;
}

.social .twit {
    background: url('../img/spritesheet.png') -486px -164px no-repeat;
}

.social .linked {
    background: url('../img/spritesheet.png') -486px -50px no-repeat;
}

.social .drib {
    background: url('../img/spritesheet.png') -50px -283px no-repeat;
}

.proposition span {
    color: #de5e60;
}

.about .proposition {
    border-left: 3px solid #de5e60;
    margin: 0 0 3rem
}

.purchase a {
    text-decoration: none;
    display: inline-block;
    background: #3c3f45;
    color: #fff;
    font: 1.6rem/4rem 'Titillium Web';
    padding: 0 4.3rem;
}

.about img {
    width: 100%;
    max-width: 100%;
}


/*MEDIA TABLET-----------------------------------*/

@media screen and (min-width: 768px) {
    .about article:last-child {
        margin: 0 0 4rem;
    }
}


/*MEDIA DESCTOP----------------------------------*/

@media screen and (min-width: 992px) {}


/*FORM-PLACE--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contacts li {
    color: #7f8289;
    padding: 0 0 3rem;
}

.contacts ul {
    padding: 0;
}

.getIn input,
.getIn textarea {
    background: #26292e;
    height: 60px;
    border: none;
    color: #fff;
    margin: 0 0 1px;
}

.getIn textarea {
    height: 400px;
    margin: 0 0 3rem;
    padding: 1.5rem;
    resize: none;
}

.getIn input[type="submit"] {
    padding: 0 5rem;
    font: 800 1.8rem 'Titillium Web';
    margin: 0 0 4rem;
}


/*TWITTER-FEED------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.twitterFeed .twit,
.twitterFeed a {
    color: #7f8289;
    font: 2rem 'Titillium Web';
    text-align: center;
}

.twitterFeed a {
    color: #de5e60;
    text-decoration: none;
}

.twitterFeed {
    background: #26292e;
    padding: 7rem 0 3.5rem
}

.twitterFeed span {
    color: #fff;
}

.twitterFeed i {
    font: italic 1.6rem 'Titillium Web';
}

.twitterFeed .redTwit {
    text-decoration: none;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background: url('../img/spritesheet.png') -50px -412px;
    margin: auto;
}

.twitterFeed .twit {
    padding: 0 0 6rem;
}


/*FOOTER------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.socialLinks {
    background: #2f3238;
    padding: 8rem 0 10rem;
}

.socialLinks ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.socialLinks a {
    width: 70px;
    height: 70px;
    display: block;
    text-indent: -9999px;
    background: url('../img/spritesheet.png') -393px -261px #26292e;
}

.socialLinks .item2 {
    background: url('../img/spritesheet.png') -270px -263px #26292e;
}

.socialLinks .item3 {
    background: url('../img/spritesheet.png') -393px -389px #26292e;
}

.socialLinks .item4 {
    background: url('../img/spritesheet.png') -336px -140px #26292e;
}

.socialLinks .item4 {
    background: url('../img/spritesheet.png') -336px -140px #26292e;
}

.socialLinks .item5 {
    background: url('../img/spritesheet.png') -148px -266px #26292e;
}


/*MEDIA TABLET-----------------------------------*/

@media screen and (min-width: 768px) {
    .socialLinks ul {
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .socialLinks li {
        margin: 0 3rem 0 0;
    }
}


/*BY----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.by {
    background: #26292e;
}

.by p {
    font: 600 1.2rem 'Titillium Web';
    color: #fefefe;
    text-align: center;
}

.by span {
    color: #de5e60;
}